---
import { Astro } from '@astro/types';
const { title, children } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    
    <!-- PostHog Analytics Script -->
    <script is:inline>
      (function(t, e, n) {
        var o = t.posthog = t.posthog || [];
        if (!o.init) {
          if (o.invoked) return void (window.console && console.error && console.error('PostHog snippet included twice.'));
          o.invoked = !0;
          o.methods = ['capture', 'identify', 'group', 'reset', 'alias', 'onFeatureFlagsReceived', 'onFeatureFlagChange'];
          o.factory = function(t) {
            return function() {
              var e = Array.prototype.slice.call(arguments);
              e.unshift(t);
              o.push(e);
              return o;
            };
          };
          for (var i = 0; i < o.methods.length; i++) {
            var method = o.methods[i];
            o[method] = o.factory(method);
          }
          o.load = function(e, n) {
            var i = document.createElement('script');
            i.type = 'text/javascript';
            i.async = !0;
            i.src = `https://cdn.posthog.com/posthog.js`;
            i.onload = function() {
              o.init(e, n);
            };
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(i, s);
          };
        }
      })(window, document);
      posthog.load('YOUR_PROJECT_API_KEY', { api_host: 'https://app.posthog.com' });
    </script>
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
