@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.22 47.37% 11.18%;
		--muted: 220 14.29% 95.88%;
		--muted-foreground: 215.29 19.32% 34.51%;
		--popover: 0 6.67% 97.06%;
		--popover-foreground: 222.22 47.37% 11.18%;
		--card: 210 20% 98%;
		--card-foreground: 222.22 47.37% 11.18%;
		--border: 220 15.56% 90.89%;
		--input: 216 12.2% 83.92%;
		--primary: 331.29 100% 68.04%;
		--primary-foreground: 0 0% 100%;
		--secondary: 220 13.04% 90.98%;
		--secondary-foreground: 222.22 47.37% 11.18%;
		--accent: 216 12.2% 83.92%;
		--accent-foreground: 222.22 47.37% 11.18%;
		--destructive: 0 84.31% 60%;
		--destructive-foreground: 0 0% 98.04%;
		--ring: 331.18 100% 80%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--placeholder: 218 11% 65%;

		--sidebar-background: 30 8% 95%;
		--sidebar-foreground: 30 8% 5%;
		--sidebar-primary: 331.29 100% 68.04%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 30 12% 91%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 15.56% 90.89%;
		--sidebar-ring: 331.18 100% 80%;
	}

	.dark {
		--background: 213 30.3% 12.94%;
		--foreground: 90 40% 98.04%;
		--muted: 218.82 17.89% 18.63%;
		--muted-foreground: 0 0% 82.35%;
		--popover: 213.91 26.44% 17.06%;
		--popover-foreground: 90 40% 98.04%;
		--card: 214.29 28% 14.71%;
		--card-foreground: 90 40% 98.04%;
		--border: 213.75 13.15% 25.83%;
		--input: 213.75 9.2% 34.12%;
		--primary: 331.18 100% 55.1%;
		--primary-foreground: 0 0% 100%;
		--secondary: 213.91 26.44% 17.06%;
		--secondary-foreground: 90 40% 98.04%;
		--accent: 220.91 39.29% 10.98%;
		--accent-foreground: 90 40% 98.04%;
		--destructive: 13.76 69.16% 44.51%;
		--destructive-foreground: 0 0% 100%;
		--ring: 331 100% 68%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--placeholder: 213 4% 52%;

		--sidebar-background: 213 30.3% 12.94%;
		--sidebar-foreground: 60 9% 98%;
		--sidebar-primary: 331.18 100% 55.1%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 220.91 39.29% 10.98%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 213.75 13.15% 25.83%;
		--sidebar-ring: 331 100% 68%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
